body {
    background-color: rgb(104, 70, 20);
    color: white;
    font-size: xx-large;
}
.titulo {
    text-align: center;
}
.primerInput {
    background-color: white;
    color: black;
    font-size: medium;
    width: max-content;
    height: fit-content;
    justify-content: center;
}
.segundoInput {
    background-color: yellow;
    color: black;
    width: fit-content;
    height: fit-content;
    font-size: medium;
    text-decoration: none;
    border-radius: 7px;
    justify-content: center;
}
textarea {
    resize: none;
    overflow-y: scroll;
    overflow-x: hidden;
}