body {
    background-color: rgb(104, 70, 20);
    color: white;
}
.titulo {
    text-align: center;
}
.primerInput {
    background-color: white;
    color: black;
    font-size: xx-large;
    width: max-content;
    height: fit-content;
}
.segundoInput {
    background-color: yellow;
    color: black;
    width: fit-content;
    height: fit-content;
    font-size: large;
    text-decoration: none;
    border-radius: 7px;
}
textarea {
    resize: none;
    overflow: scroll;
}